$dark-grey: #1D1D1D;
$med-grey: rgb(111,111,111);
$light-grey: #E5E5E5;
$red: #FA0B00;
$yellow: #F1980C;

$hex: #007FFF;
$rgb: rgb(0,127,255);
$rgba: rgba(0,127,255,.5);
$hsl: hsl(210,100%,50%);
$hsla: hsla(210,100%,50%,.5);
