h1 {
    font-family: 'Pragati Narrow', sans-serif;
    color: $med-grey;
    letter-spacing: 0.03em;
}

h2 {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $med-grey;
    margin-top: 50px;
}